*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

/.fleet
/.idea
/.nova
/.vscode
/.zed

/node_modules
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

/vendor

bootstrap/cache/*.php

Homestead.json
Homestead.yaml
